---
---

@import "minima";
h1 , h2 , h3, h4, h5 {
    font-family: 'Flamenco', sans-serif;
    color: #4d4;
}
body { font-family: 'IBM Serif', 'Noto Serif', serif ;
    color: #aaa; background-color:#333;
}
